.searchBox {
    height: 50px;
    padding: 5px 10px;
    align-items: center;
    display: flex;
    border-radius: 8px;
    border: 1px solid rgba(97, 97, 97, 0.30);
    background: rgba(97, 97, 97, 0.05);
}

.searchIcon {
    color: #fff;
    font-size: 25px;
}

.searchBox input {
    background: none !important;
    border: none;
    border-radius: 8px;
    color: #dadada;
    font-size: 16px;
    font-weight: 300;
    width: 100%;
}

.searchBox input:focus {
    box-shadow: none;
}

.searchBox input::placeholder {
    color: #dadada;
}