.react-tagsinput {
    background: transparent;
    border-radius: 0.375rem;
    border: 1px solid #424242;
    padding: 0px;
}

.react-tagsinput-input {
    margin-bottom: 0px;
}

.react-tagsinput-tag {
    margin: 5px;
    padding: 0px 3px;
    background: linear-gradient(133deg, #41d2ff 0%, #7e42ff 47.4%, #dd3fff 96.19%);
    color: white;
}

.list_image {
    padding: 8px 0px;
    height: 66px !important;
    width: 90px;
    object-fit: cover;
}

.comment_modal .modal-header {
    padding: 8px 8px 0px 6px !important;
    border-bottom: none !important;
}